/* 提示文字容器 */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* 提示文字 */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 将提示文字放在文本上方 */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* 当鼠标悬停在提示文字容器上时，显示提示文字 */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
